@import "../global.scss";

.container {
  position: absolute;
  left: 0;
  right: 200px;
  top: 40px;
  bottom: 0;
}

@include mobile(sp) {
  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
  }
}
